@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @ultra-light-gray;
@syntax-cursor-color: @light-tangerine;
@syntax-selection-color: darken(@dark-tangerine, 15%);
@syntax-background-color: @ultra-dark-gray;

// Guide colors
@syntax-wrap-guide-color: @very-dark-gray;
@syntax-indent-guide-color: @dark-gray;
@syntax-invisible-character-color: @dark-gray;

// For find and replace markers
@syntax-result-marker-color: @very-dark-gray;
@syntax-result-marker-color-selected: darken(@dark-lime, 15%);

// Gutter colors
@syntax-gutter-text-color: @very-light-gray;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;
@syntax-gutter-background-color: @ultra-dark-gray;
@syntax-gutter-background-color-selected: @dark-tangerine;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @light-aqua;
@syntax-color-added: @light-green;
@syntax-color-modified: @light-yellow;
@syntax-color-removed: @light-pink;


// For language entity colors
@syntax-color-variable:   @hue-5;
@syntax-color-constant:   @hue-6;
@syntax-color-property:   @syntax-fg;
@syntax-color-value:      @syntax-fg;
@syntax-color-function:   @hue-2;
@syntax-color-method:     @hue-2;
@syntax-color-class:      @hue-6-2;
@syntax-color-keyword:    @hue-3;
@syntax-color-tag:        @hue-5;
@syntax-color-attribute:  @hue-6;
@syntax-color-import:     @hue-3;
@syntax-color-snippet:    @hue-4;


// Custom Syntax Variables -----------------------------------
// Don't use in packages

@syntax-cursor-line: hsla(@syntax-hue, 100%,  80%, .04); // needs to be semi-transparent to show search results

@syntax-deprecated-fg: darken(@syntax-color-modified, 50%);
@syntax-deprecated-bg: @syntax-color-modified;
@syntax-illegal-fg:    white;
@syntax-illegal-bg:    @syntax-color-removed;
